<h1>
    <%= uppie(dino.name) %>
</h1>
<h2><%- highlight(title) %></h2>
<p><%- emojify("Sverre weet het antwoord", "yay-pro" ) %></p>
<p><%- emojify("Nick weet het antwoord", "yay-pro" ) %></p>
<p><%- emojify("Arno weet het antwoord", "yay-pro" ) %></p>
<p><%- emojify("Joanna weet het antwoord", "yay-pro" ) %></p>
<%= dino.description %>